[[source]]
url = "https://pypi.org/simple"
verify_ssl = true
name = "pypi"

[packages]
uniswap-python = "*"
"1inch.py" = "*"
web3 = "*"
flask = "*"
metatrader5 = "*"

[dev-packages]

[requires]
python_version = "3.11"
python_full_version = "3.11.4"
